<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SuiteED25519" parallel="none">
  <test name="TestED25519">
    <classes>
      <class name="ed25519.test.internal.ByteArrayTest"/>
      <class name="ed25519.test.internal.CryptoNumberTest"/>
      <class name="ed25519.test.internal.ConstantsTest"/>
      <class name="ed25519.test.internal.BigPointTest"/>
      <class name="ed25519.test.internal.CurveTest"/>
      <class name="ed25519.test.internal.HashTest"/>
      <class name="ed25519.test.application.KeyTest"/>
      <class name="ed25519.test.application.Ed25519Test"/>
    </classes>
  </test> <!-- TestED25519 -->
</suite> <!-- SuiteED25519 -->
